<app-header></app-header>

<div class="home-container">
    <h1 class="page-title">Forum Home</h1>

    <ng-container *ngIf="loading$ | async; else content">
        <div class="loading">Loading categories...</div>
    </ng-container>

    <ng-template #content>
        <ng-container *ngIf="error$ | async as error">
            <div class="error">Error: {{ error }}</div>
        </ng-container>

        <div class="category-list" *ngIf="categories$ | async as categories">
            <app-category *ngFor="let category of categories" [category]="category">
            </app-category>
        </div>
    </ng-template>
</div>